.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

.last-item {
    border-bottom: none;
}

input[type=checkbox] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type="checkbox"]::before {
    position: absolute;
    content: '';
    display: block;
    top: 1px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}
input[type="checkbox"]:checked {
    color: #fff;
    border-color: #06842c;
    background: #06842c;
}
input[type="checkbox"]:checked::before {
    opacity: 1;
}

label {
    position: relative;
    cursor: pointer;
    font: 1.2em Arial;
    padding-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.completed {
    font-style: italic;
    color: #cdcdcd;
    text-decoration: line-through;
}