.list-item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border: 1px solid #cecece;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
    cursor: pointer;
}

.list-item:hover {
    background: #333333;
    color: white;
}

.list-item label {
    margin: auto;
}