.navbar {
    height: 80px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font: 30px Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentials {
    position: absolute;
    right: 20px;
    align-items: center;
    font: 12px Arial;
}