.login-wrapper {
    background-color: white;
    margin: auto;
    width: 90%;
    min-height: 45px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 20px;
}

.button-slot-login {
    padding-top: 10px;
    background-color: white;
    margin: auto;
    max-width: 400px;
    width: 100%;
    min-height: 45px;
    align-items: center;
}

.button-slot-login button {
    width: 100%;
}